.homeBtn
{
    -fx-background-color : #F3F3F3;
}
.homeBtn:hover
{
    -fx-background-color : #A1C1F4 ;
}
.homeBtn:pressed
{
    -fx-background-color : #73A3EF ;
}

.RunningAOS{
    -fx-background-color: #6efd6e;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.RunningAOS:hover{
    -fx-background-color: #34b234;
}

.DownAOS{
    -fx-text-alignment: center;
    -fx-background-color: #ff0000;
    -fx-alignment: center;
}

.DownAOS:hover{
    -fx-background-color: #fa5e5e;
}


.Separator_Text {
    -fx-padding: 0 0 0 20;
    -fx-font-weight: BOLD;
    -fx-font-size: 1.5em;
    -fx-font-family: sans-serif;
}

.Separator_Line{
    -fx-padding: 0 0 0 20;
}

.TextFieldLabel {
    -fx-padding: 0 0 0 20;
    -fx-pref-width: 150;
}

.TextFieldForm {
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;

}

.GlobalVarTypeVBox {
    -fx-padding: 0 0 0 250 ;
}

.formBtn {
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
}

.formCBx {
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
}

.TextAreaForm {
    -fx-pref-width: 300px;
    -fx-pref-height: 250px;
}

.CRUDBtn {
    -fx-padding: 20 0 0 30;
    -fx-spacing: 30;
}

.CreateProjBTNsHBox {
    -fx-padding: 20 0 50 30;
    -fx-spacing: 100;
    -fx-alignment: center;
}

.TreeViewForm {
    -fx-pref-width: 350;
    -fx-pref-height: 200;
}

.TreeBoxWrapper {
    -fx-alignment: center;
}

.SmallTreeViewForm {
    -fx-pref-width: 200;
    -fx-pref-height: 150;
}

.SubMenuVBox {
    -fx-padding: 20 0 0 20;
    -fx-spacing: 10;
}