.homeBtn
{
    -fx-background-color : #F3F3F3;
}
.homeBtn:hover
{
    -fx-background-color : #A1C1F4 ;
}
.homeBtn:pressed
{
    -fx-background-color : #73A3EF ;
}

.RunningAOS{
    -fx-background-color: #6efd6e;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.RunningAOS:hover{
    -fx-background-color: #34b234;
}

.DownAOS{
    -fx-text-alignment: center;
    -fx-background-color: #ff0000;
    -fx-alignment: center;
}

.DownAOS:hover{
    -fx-background-color: #fa5e5e;
}

.scroll-pane{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
}


.Separator_Text{
    -fx-padding: 0 0 0 20;
    -fx-border-radius: 2 !important;
    -fx-background-radius: 2 !important;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    -fx-font-weight: 400;
}

.Separator_Line{
    -fx-padding: 0 0 0 20;
}

.TextFieldLabel {
    -fx-padding: 0 0 0 20;
    -fx-pref-width: 200;
    -fx-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

/* TextField */
.TextFieldForm {
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
    -fx-background-color: white;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}

.TextAreaWithMargin{
    -fx-padding: 5px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}

.TextFieldForm:hover {}

.TextFieldForm:focused {
    -fx-border-color: #007ACC;
}

.GlobalVarTypeVBox {
    -fx-padding: 0 0 0 250 ;
}

.formBtn {
    -fx-background-color: rgb(18, 122, 214);
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-pref-width: 150px;
}

.formBtn:hover
{
    -fx-background-color: rgb(16, 110, 190);
}

/* TextArea */
.text-area {
    -fx-background-color: white;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}


.TextAreaForm:focused {
    -fx-border-color: #007ACC;
}

.TextAreaForm .content {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.TextAreaForm .scroll-bar {
    -fx-background-insets: 0 -0.5 0.5 0;
}

.TextAreaForm .scroll-bar .thumb {
    -fx-background-insets: 0 2 0 2;
}



.formCBx {
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
}

.TextAreaForm {
    -fx-pref-width: 300px;
    -fx-pref-height: 250px;
}

.CRUDBtn {
    -fx-padding: 20 0 0 30;
    -fx-spacing: 30;
    -fx-alignment: center;
}

.CreateProjBTNsHBox {
    -fx-padding: 20 0 50 30;
    -fx-spacing: 50;
    -fx-alignment: center;
}

.TreeViewForm {
    -fx-pref-width: 350;
    -fx-pref-height: 200;
}

.TreeBoxWrapper {
    -fx-alignment: center;
}

.SmallTreeViewForm {
    -fx-pref-width: 200;
    -fx-pref-height: 150;
}

.SubMenuVBox {
    -fx-padding: 20 0 0 20;
    -fx-spacing: 10;
}


/* ScrollBar */
.scroll-bar {
    -fx-background-radius: 0;
    -fx-background-color: transparent !important;
    -fx-pref-width: 9;
}

.scroll-bar:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bdbdbd !important;
    -fx-pref-width: 16;
}

.scroll-bar>.decrement-button {
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-cursor: HAND;
}

.scroll-bar .decrement-button,
.scroll-bar .increment-button {
    -fx-cursor: HAND;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.scroll-bar .decrement-button:hover,
.scroll-bar .increment-button:hover {
    -fx-background-color: #bdbdbd;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7c7c7c;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: HAND;
}

/* TreeView */
.tree-view .scroll-bar {
    -fx-background-insets: 0 -1 0 0;
}

.tree-view .scroll-bar .thumb {
    -fx-background-insets: 0 3 0 2;
}

.tree-view {
    -fx-background-insets: 2;
    -fx-background-color: #f8f8f8;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}


.tree-view:hover {
     -fx-border-color: #3E3E40;
}

.tree-view:focused {
     -fx-border-color: #007ACC;
}

.tree-cell:highlight-changes-next {
    -fx-background: yellow ;
    -fx-font-weight: bold ;
}

.tree-cell:highlight-changes-back {
    -fx-background: orange ;
    -fx-font-weight: bold ;
}

.BrowseBTNWrapper {
    -fx-padding: 2 0 0 50;
}

#IntegrationResponseVBOX {
    -fx-padding: 0 20 0 20;
    -fx-spacing: 10;
}

.RemarksTitle {
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 2 !important;
    -fx-background-radius: 2 !important;
    -fx-text-fill: green;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    -fx-font-weight: 400;
}

.ErrorsTitle {
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 2 !important;
    -fx-background-radius: 2 !important;
    -fx-text-fill: red;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    -fx-font-weight: 400;
}

#ErrorsVBOX #RemarksVBOX{
    -fx-border-radius: 2;
    -fx-border-color: #c5c5c5;
}

#ErrorsVBOX>.label, #RemarksVBOX>.label {
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    -fx-font-weight: 400;
}

.integrationBtn {
    -fx-pref-width: 400px;
    -fx-background-color: rgb(18, 122, 214);
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-font-size: 20px;
}

.integrationBtn:hover
{
    -fx-background-color: rgb(16, 110, 190);
}

.ManActionsVBOX {
    -fx-padding:10 10 10 10
}

.VBoxStateWrapper{
    -fx-alignment: center;
    -fx-padding: 10 10 0 10;
}

.default-color0.chart-bar{
    -fx-bar-fill: #127AD6;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #127AD6;
    -fx-font-size: 20px;

}

.tab{

    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 30 0 30;
}

.tab:selected
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #127AD6;
    -fx-font-weight: bold;

}
.tab:focused
{
    -fx-focus-color: transparent;
}

.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}


.Info_Label {
    -fx-alignment: center;
    -fx-text-fill: #c5c5c5;
    -fx-font-size: 10px;
}